<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>品优购，优质！优质！-商品详情</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

</head>
<body>
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到品优购生鲜!</div>
        <div class="fr">
            <div class="login_info fl">
                欢迎您：<em>张 山</em>
            </div>
            <div class="login_btn fl">
                <a href="login.html">登录</a>
                <span>|</span>
                <a href="register.html">注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="user_center_info.html">用户中心</a>
                <span>|</span>
                <a href="cart.html">我的购物车</a>
                <span>|</span>
                <a href="user_center_order.html">我的订单</a>
            </div>
        </div>
    </div>
</div>

<div class="search_bar clearfix">
    <a href="index.html" class="logo fl"><img src="/static/images/logo.png"></a>
    <div class="search_con fl">
        <input type="text" class="input_text fl" name="" placeholder="搜索商品">
        <input type="button" class="input_btn fr" name="" value="搜索">
    </div>
    <div class="guest_cart fr">
        <a href="cart.html" class="cart_name fl">我的购物车</a>
        <div class="goods_count fl" id="show_count">1</div>
    </div>
</div>

<div class="navbar_con">
    <div class="navbar clearfix">
        <div class="subnav_con fl">
            <h1>全部商品分类</h1>
            <span></span>
            <ul class="subnav">
                <li><a href="#" class="fruit">新鲜水果</a></li>
                <li><a href="#" class="seafood">海鲜水产</a></li>
                <li><a href="#" class="meet">猪牛羊肉</a></li>
                <li><a href="#" class="egg">禽类蛋品</a></li>
                <li><a href="#" class="vegetables">新鲜蔬菜</a></li>
                <li><a href="#" class="ice">速冻食品</a></li>
            </ul>
        </div>
        <ul class="navlist fl">
            <li><a href="">首页</a></li>
            <li class="interval">|</li>
            <li><a href="">手机生鲜</a></li>
            <li class="interval">|</li>
            <li><a href="">抽奖</a></li>
        </ul>
    </div>
</div>

<div class="breadcrumb">
    <a href="#">全部分类</a>
    <span>></span>
    <a href="#">新鲜水果</a>
    <span>></span>
    <a href="#">商品详情</a>
</div>

<div class="goods_detail_con clearfix">
    <div class="goods_detail_pic fl"><img src="http://192.168.11.141:8888/{{.goodsku.Image}}"></div>

    <div class="goods_detail_list fr">
        <h3>{{.goodsku.Name}}</h3>
        <p>{{.goodsku.Desc}}</p>
        <div class="prize_bar">
            <span class="show_pirze">¥<em>{{.goodsku.Price}}</em></span>
            <span class="show_unit">单  位：{{.goodsku.Unite}}</span>
        </div>
        <div class="goods_num clearfix">
            <div class="num_name fl">数 量：</div>
            <div class="num_add fl">
                <input type="text" class="num_show fl" value="1">
                <a href="javascript:;" class="add fr">+</a>
                <a href="javascript:;" class="minus fr">-</a>
            </div>
        </div>
        <div class="total">总价：<em>16.80元</em></div>
        <div class="operate_btn">
            <a href="javascript:;" class="buy_btn">立即购买</a>
            <a href="javascript:;" class="add_cart" id="add_cart" skuid="{{.Id}}">加入购物车</a>
        </div>
    </div>
</div>

<div class="main_wrap clearfix">
    <div class="l_wrap fl clearfix">
        <div class="new_goods">
            <h3>新品推荐</h3>
            <ul>
            {{range .newgoods}}
                <li>
                    <a href="/goodsDetail?Id={{.Id}}"><img src="http://192.168.11.141:8888/{{.Image}}"></a>
                    <h4><a href="/goodsDetail?Id={{.Id}}">{{.Name}}</a></h4>
                    <div class="prize">￥{{.Price}}</div>
                </li>
            {{end}}
            </ul>
        </div>
    </div>

    <div class="r_wrap fr clearfix">
        <ul class="detail_tab clearfix">
            <li class="active">商品介绍</li>
            <li>评论</li>
        </ul>

        <div class="tab_content">
            <dl>
                <dt>商品详情：</dt>
                <dd>{{.goodsku.Goods.Detail}}</dd>
            </dl>
        </div>

    </div>
</div>

<div class="py-container copyright footer">
    <ul>
        <li>关于我们</li>
        <li>联系我们</li>
        <li>联系客服</li>
        <li>商家入驻</li>
        <li>营销中心</li>
        <li>手机品优购</li>
        <li>销售联盟</li>
        <li>品优购社区</li>
    </ul>
    <div class="address">地址：北京市昌平区建材城西路金燕龙办公楼一层 邮编：100096 电话：400-618-4000 传真：010-82935100</div>
    <div class="beian">京ICP备08001421号京公网安备110108007702
    </div>
</div>
<div class="add_jump"></div>
<script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    var $add_x = $('#add_cart').offset().top;
    var $add_y = $('#add_cart').offset().left;

    var $to_x = $('#show_count').offset().top;
    var $to_y = $('#show_count').offset().left;

    $(".add_jump").css({'left': $add_y + 80, 'top': $add_x + 10, 'display': 'block'});
    $('#add_cart').click(function () {
        $(".add_jump").stop().animate({
                    'left': $to_y + 7,
                    'top': $to_x + 7
                },
                "fast", function () {
                    $(".add_jump").fadeOut('fast', function () {
                        $('#show_count').html(2);
                    });

                });
    });

    //计算商品总价
    function UpdateGoodsPrice() {
        //获取单价和数量
        prize = $('.show_pirze').children('em').text();
        count = $('.num_show').val();
        //计算总价
        prize = parseFloat(prize);  //将字符串转为浮点型
        count = parseInt(count);
        amount = prize * count;
        //设置总价                     //保留两位小数
        $('.total').children('em').text(amount.toFixed(2) + '元');
    }

    UpdateGoodsPrice();

    //点击增加商品数量
    $('.add').click(function () {
        //获取现在商品数量
        count = $('.num_show').val();
        //数量加一
        count = parseInt(count) + 1;
        //设置新数量
        $('.num_show').val(count);
        //调用函数设置总价
        UpdateGoodsPrice();
    });


    //点击减少商品数量
    $('.minus').click(function () {
        //获取现在商品数量
        count = $('.num_show').val();
        //数量加一
        count = parseInt(count) - 1;
        //判断数量是否为0
        if (parseInt(count) == 1) {  //不能用不等号
            count = 1;
        }
        //设置新数量
        $('.num_show').val(count);
        //调用函数设置总价
        UpdateGoodsPrice();
    });

    //手动设置商品数量
    $('.num_show').blur(function () {
        //失去焦点时获取数量值
        count = $(this).val();
        //将数量显示在文本
        $(this).val(count);
        UpdateGoodsPrice();
    });

    //购物车模块
    //添加商品ID属性
    skuid = $('#add_cart').attr("skuid");
    conut = $('.num_show').val();
    params = {'skuid':skuid,'goodsCount':count}
    $('.add_cart').click(function () {
        $.post('/user/addCart',params,function (data) {

        })
    })


</script>

</body>
</html>